body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}
/* Heading of this page styles start */
#filehead{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 19px;
    font-weight: 800;
    text-align: center;
    width: 70%;
    border: none;
}
#heading-table{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border: none;
}
.heading-td{
    width: 10%;
}
/* Heading of this page styles end */
/* Nav links styles and making dropdown list styles start */
nav ul li{
    position: relative;
}
nav ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
nav ul li{
    float: left;
    width: 150px;
    height: 40px;
    background-color:rgb(0, 0, 71);
    color: white;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    margin-right: 2px;
}
nav ul li:hover{
    -webkit-box-shadow: -1px 0px 26px 7px #2e2e2e; 
    box-shadow: -1px 0px 26px 7px #2e2e2e;
}
nav ul li a{
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
    color: white;
    display: block;
}
nav ul li a:hover{
    background-color: green;
}
nav ul li ul li{
    display: none;
    font-family: poppins;
    text-align: left;
    border-bottom: 3px white solid;
    z-index: 2;
}
nav ul li:hover ul li{
    display: block;
    width: 300px;
}
nav #contact:hover #drop-contact ul li{
    width: 230px;
}
nav #academy:hover #drop-academy li{
    width: 220px;
}
/* sign up and sign in img in nav links styles start */
nav #accountimg{
    filter: invert(100%);
}
nav #accountimg:hover{
    border: solid red 2px;
    transform: scale(1.1);
}
/* sign up and sign in img in nav links styles end */
/* routine dropdown style start */
.routine-dropdown{
    margin-left: 220px;
    margin-top: -82px;
}
.routine-dropdown ul li{
    width: 180px !important;
    display: none !important;
}
#routine:hover .routine-dropdown ul li{
    display: block !important;
}
.primary-dropdown{
    margin-left: 181px;
    margin-top: -41px;
    display: none;
}
#primary:hover .primary-dropdown{
    display: block !important;
}
.high-school-dropdown{
    margin-left: 181px;
    margin-top: -41px;
    display: none;
}
#high-school:hover .high-school-dropdown{
    display: block;
}
.college-dropdown{
    margin-left: 181px;
    margin-top: -41px;
    display: none;
}
#college:hover .college-dropdown{
    display: block ;
}
/* routine dropdown style start */
/* books dropdown style start */
.dropdown-of-books{
    margin-left: 220.5px;
    margin-top: -41px;
}
#books .dropdown-of-books ul li{
    width: 130px !important;
    display: none;
}
#books:hover .dropdown-of-books ul li{
    display: block;
}
/* books dropdown style end */
/* Nav links styles and making dropdown list styles end */
.tabimg{
    width: 100%;
    height: 350px;
}
/* Recently updated table, elements, youtube, news and facebook styles start */
.recent-news{
    padding: 10px;
}
.recently-up{
    position: relative;
    display: inline-block;
    margin-left: 100px;
}
.tam{
    font-size: 14px;
}
.ynf{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 550;
    background-color: rgb(0, 0, 71);
    padding: 7px;
}
.tabtrtd{
    border: rgb(0, 0, 71) 2px solid;
}
.tabassdate{
    font-size: 14px;
    color: white;
    background-color: rgb(0, 0, 71);
    border: rgb(0, 0, 71) 1px solid;
    padding: 3px;
    vertical-align: top;
}
.viewall{
    color: white;
    background-color: rgb(0, 0, 71);
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.newsarticle{
    font-size: 18px;
    color: rgb(3, 3, 77);
}
/* Recently updated table, elements, youtube, news and facebook styles start */
#recently-updated-div{
    font-size: 45px;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    background-color: rgb(0, 0, 71);
    color: white;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 30px;
}
.viewalllink{
    color: white;
    text-decoration: none;
}
.viewalllink:hover{
    text-decoration: underline;
    color: rgb(13, 243, 13); 
}
#big-img-div{
    height: 600px;
    width: 100%;
    background-image: url("images/Screenshot\(271\).png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
/* Fixed position links style start */
.fixed-position-menu{
    position: fixed;
    z-index: 5;
    margin-top: 100px;
    margin-left: 2px;
}
.fixed-position-menu a{
    text-decoration: none;
}
.fixed-position-menu a i{
    display: flex;
    flex-direction: column;
    font-size: 35px;
    color: rgb(0, 0, 71);
    background-color: white;
    justify-content: space-around;
    margin-top: 2px;
}
.top-arrow-bookmark{
    position: fixed;
    margin-left: 1300px;
    margin-top: 420px;
}
.top-arrow-bookmark span{
    font-size: 30px;
    color: white;
    background-color: rgb(0, 0, 71);
    border-radius: 100%;
    padding: 5px;
}
/* Fixed position links style end */